<table class="table calendar">
  <tbody>
    <tr class="bg-primary">
        <th> Sun </th>
        <th> Mon </th>
        <th> Tue </th>
        <th> Wed </th>
        <th> Thu </th>
        <th> Fri </th>
        <th> Sat </th>
    </tr>
    <tr *ngFor="let item of calendar">
      <td *ngFor="let item of item.days">
        {{item.day.date()}}
        <ul class="list-unstyled">
          <li *ngFor="let session of item.trainingsOfDay">
            <button class="btn btn-primary" (click)="updateUserTraining(session)"> {{session.time}} </button>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

