<table *ngIf="anim" [@calendarAnim] class="table calendar">
  <tbody>
    <tr class="blue">
        <th> Sun </th>
        <th> Mon </th>
        <th> Tue </th>
        <th> Wed </th>
        <th> Thu </th>
        <th> Fri </th>
        <th> Sat </th>
    </tr>
    <tr *ngFor="let week of schedulerService.calendar">
      <td *ngFor="let item of week">
        <div class="ml-3">
          {{item.day.date()}}
        </div>
        <ul class="list-unstyled">
          <li *ngFor="let training of item.trainings">
            <button class="btn blue" (click)="updateTrainingAndPosition(training)"> {{training.time}}<br> {{abbreviatePosition(training)}}</button>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

