<div class="status-bar-top">
  <div dropdown class="profile btn-group">
    <span> {{userService.user.name}}</span>
    <span>
      <img dropdownToggle class="profile-pic dropdown-toggle" [src]="userService.getProfileImageUrl() | sanitize">
    </span>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem"><div class="dropdown-item" (click)="googleLogin()">Sync Google</div></li>
      <li role="menuitem"><div class="dropdown-item" href="#">Edit Information</div></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><div class="dropdown-item" (click)="logout()">Logout</div>
      </li>
    </ul>
  </div>

  <div class="dialog-input">
    <input [formControl]="sendInput" class="form-control" (focus)="openDialog()" (keyup.enter)="send()">
  </div>
</div>

<!--<div class="status-bar-bottom">-->
  <!--<div class="dialog-input">-->
    <!--<input [formControl]="sendInput" class="form-control" (focus)="openDialog()" (keyup.enter)="send()">-->
  <!--</div>-->
<!--</div>-->

