<div class="status-bar">
  <!--<button class="btn btn-primary logout" (click)="logout()"> Logout </button>-->
  <div class="dialog-input">
    <input [formControl]="sendInput" class="form-control" (focus)="openDialog()">
  </div>

  <div dropdown class="profile btn-group">
    <span> {{userService.user.first}}</span>
    <span>
      <img dropdownToggle class="profile-pic dropdown-toggle" src="../../assets/user-profile.svg">
    </span>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Sync Google</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Edit Information</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
