<div class="top-heading">
  {{user.name}}
</div>

<div class="content">
  <table class="structure">
    <tbody>
    <tr>
      <th>
        <h4> Training </h4>
      </th>
      <td>
        <p> Date: {{this.user.training.date}}</p>
        <p> Time: {{this.user.training.time}}</p>
        <p> Position: {{this.user.training.positionName}}</p>
        <p> Address: {{this.user.training.address}} </p>
      </td>
    </tr>

    <tr>
      <th>
        <h4> Work </h4>
      </th>
      <td>
        <p> Address: {{this.user.work.address}}</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
