<app-title></app-title>

<div class="app">
  <div class="app-left">
    <div class="side-nav">
      <ul class="tab-list">
        <li class="tab" [routerLink]="'/overview'" [routerLinkActive]="'active'"> <a class="tab-link"> Overview </a> </li>
        <li class="tab" [routerLink]="'/volunteers'" [routerLinkActive]="'active'"> <a class="tab-link"> Volunteers </a> </li>
        <li class="tab" [routerLink]="'/database'" [routerLinkActive]="'active'"> <a class="tab-link"> Database </a> </li>
        <li class="tab" [routerLink]="'/options'" [routerLinkActive]="'active'"> <a class="tab-link"> Options </a> </li>
      </ul>
    </div>
  </div>

  <div class="app-right">
    <router-outlet></router-outlet>
  </div>
</div>
