:root {
  --light-grey: #f7f8fb;
  --medium-grey: #e7ebf3;
  --dark-grey: #596981;
  --silver: #eef1f6;
  --link: #96A3B6;
  --blue: #08a9fa;
  --grey: #777981;

  /*Fixes resize handles not appearing*/
  border-top: 1px solid var(--blue);
  overflow: hidden;

}

.blue {
  cursor: pointer;
  background-color: var(--blue)!important;
  color: #ffffff;
}

.app {
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-left {
  content: '';
  background: var(--light-grey);
  position: fixed;
  top: 31px;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 0;
  box-shadow: inset -1px 0 0 var(--medium-grey);
}

.app-right {
  position: relative;
  margin-left: 250px;
  min-width: 600px;
}

.title {
  height: 30px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background: var(--blue);
  z-index: 999;
}

/*Css styles taken from https://github.com/sidneys/electron-titlebar-windows*/
.title-bar
{
  display: block;
  position: fixed;
  height: 30px;
  padding: 0;
  top: 0;
  right: 0;
}

.title-bar.draggable
{
  -webkit-app-region: drag;
}

.title-bar-controls
{
  float: right;
  text-align: left;
}

.title-bar:after,
.title-bar-controls:after
{
  content: ' ';
  display: table;
  clear: both;
}

.title-bar-minimize,
.title-bar-resize,
.title-bar-close
{
  float: left;
  width: 45px;
  height: 31px;
  text-align: center;
  line-height: 30px;

  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.title-bar .title-bar-minimize,
.title-bar .title-bar-resize,
.title-bar .title-bar-close
{
  -webkit-app-region: no-drag;
}

.title-bar-minimize svg,
.title-bar-resize svg.maximize-svg,
.title-bar-resize svg.fullscreen-svg,
.title-bar-close svg
{
  width: 10px;
  height: 10px;
  shape-rendering: crispEdges;
}

.title-bar-close svg polygon
{
  -webkit-transition: fill .2s;
  -moz-transition: fill .2s;
  -ms-transition: fill .2s;
  -o-transition: fill .2s;
  transition: fill .2s;
}

.title-bar:not(.fullscreen) svg.maximize-svg
{
  display: none;
}

.title-bar.fullscreen svg.fullscreen-svg
{
  display: none;
}

.title-bar-minimize:hover,
.title-bar-resize:hover,
.title-bar-fullscreen:hover
{
  background-color: rgba(255, 255, 255, 0.1);
}

.title-bar-light .title-bar-minimize:hover,
.title-bar-light .title-bar-resize:hover,
.title-bar-light .title-bar-fullscreen:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}

.title-bar-close:hover
{
  background-color: rgba(232, 17, 35, 0.9);
}

.title-bar-close:hover svg polygon
{
  fill: rgba(255, 255, 255, 1);
}

.title-bar-light .title-bar-close:hover
{
  fill: rgba(0, 0, 0, 1);
}

.title-bar-light svg polygon,
.title-bar-light svg rect,
.title-bar-light svg > path
{
  fill: rgba(255, 255, 255, 1);
}

.title-bar-light .title-bar-close:hover
{
  background-color: rgba(232, 17, 35, 0.9);
}
/*Css styles taken from https://github.com/sidneys/electron-titlebar-windows*/

.breadcrumb {
  position: fixed;
  font-size: 0.875rem;
  margin: 0!important;
  padding: 0.2rem 1rem!important;;
  height: 30px;
  border-radius: 0!important;
  background: none!important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>'!important;
}

.breadcrumb-item a {
  color: #ffffff;
  -webkit-app-region: no-drag;
}

.top-nav {
  background: #ffffff;
  position: relative;
  height: 50px;
  width: 100%;
  box-shadow: inset 0 -1px 0 var(--medium-grey);
}

.nav-item, a.nav-link {
  display: inline-block;
  position: relative;
  height: 100%;
}

a.nav-link.active {
  color: var(--blue);
}

a.nav-link.active::after {
  background: var(--blue);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  content: '';
}

a.nav-link {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: var(--link);
}

a:focus, a:hover {
  text-decoration: none!important;
}

a:hover {
  color: rgba(0, 0, 0, 0.5)!important;
}

.top-heading {
  font-size: 1.5rem;
  background: #ffffff;
  position: relative;
  padding: 0.75rem 2rem;
  height: 60px;
  margin: 0;
  box-shadow: inset 0 -1px 0 var(--medium-grey);
}


.side-nav {
  position: absolute;
  top: 110px;
  width: 250px;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
  color: var(--dark-grey);
  cursor: pointer;
}

.tab:focus {
  outline: none;
}

.tab.active {
  background: var(--silver);
  box-shadow: inset 3px 0 0 0 var(--blue);
}

.content {
  padding: 2rem;
}

.table tr.table-selectable:hover {
  background: var(--light-grey);
  cursor: pointer;
}

table.list tbody td, .table tbody th, .table thead td, .table thead th{
  padding: 0.3rem 0.6rem!important;
  font-weight: normal;
}

table.list tbody tr:first-child th {
  border: 0!important;
}

table.list tbody tr:first-child td {
  border: 0!important;
}

.table {
  box-shadow: 0 0 0 1px var(--medium-grey);
  overflow: hidden;
  border-collapse: separate!important;
  border-spacing: 0!important;
  border-radius: 0.25rem!important;
}

.table tr:first-child th {
  border-top: 0!important;
}

table.structure {
  min-width: 700px;
  width: 100%;
}

table.structure thead th {
  border: 0!important;
}

table.structure tr {
  vertical-align: top;
}

table.structure th.description, table.structure td.main {
  /*padding: 1rem 1rem!important;*/
  padding-bottom: 1rem!important;
  width: 50%;
  font-weight: normal;
}

.search {
  float: right;
}

.form-control {
  width: auto!important;
}

.form-control.textarea {
  width: 100%!important;
}

.button-feedback {
  font-size: 14px;
  color: var(--dark-grey);
  margin-bottom: 0.1rem;
}

.card {
  border: 0!important;
  /*box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 1px 3px 0 rgba(89,105,128,.1);*/
  /*box-shadow: inset -1px 1px 0 var(--grey);*/
  box-shadow: 0 0 0 1px var(--medium-grey);
}

#dumplog {
  min-width: 350px;
  height: 250px;
  overflow-y: scroll;
}

.graph {
  width: 100%;
  display: block;
}
