<!--<div class="container">-->
<div *ngIf="anim" class="hidden-md-down" [@schedulerAnim]>
  <!--<app-status-bar></app-status-bar>-->
  <table class="structure">
    <tbody>
    <tr>
      <th>
        <app-side-bar></app-side-bar>
      </th>

      <td>
        <router-outlet></router-outlet>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="anim" class="hidden-lg-up" [@schedulerAnim]>
  <!--<app-status-bar></app-status-bar>-->
  <app-side-bar></app-side-bar>
  <router-outlet></router-outlet>
</div>
<!--</div>-->

