<div class="message" [@messageAnim] *ngIf="isUser">
  <div class="message-user d-flex justify-content-start flex-row-reverse">
    <span class="message-user-profile">
      <img src="../../assets/user-profile.svg">
    </span>
    <span>
      {{text}}
    </span>
  </div>
</div>

<div class="message" [@messageAnim] *ngIf="!isUser">
  <div class="message-bot d-flex">
    <span class="message-bot-profile">
      <img src="../../assets/user-profile.svg">
    </span>
    <span>
      {{text}}
      <div *ngIf="address">
        <iframe width="300"
                height="300"
                frameborder="0" style="border:0"
                [src]="mapUrl | sanitize">
        </iframe>
      </div>
    </span>

  </div>
</div>
