<div class="message" [@messageAnim] *ngIf="isUser">
  <div class="message-user d-flex justify-content-start flex-row-reverse">
    <span class="message-user-profile">
      <img src="../../assets/user-profile.svg">
    </span>
    <span>
      {{text}}
    </span>
  </div>
</div>

<div class="message" [@messageAnim] *ngIf="!isUser">
  <div class="message-bot d-flex">
    <span class="message-bot-profile">
      <img src="../../assets/user-profile.svg">
    </span>
    <span>
      {{text}}
    </span>

    <span *ngIf="!test">
      EMPTY

    </span>
  </div>
</div>
