/* You can add global styles to this file, and also import other style files */
:root {
  --light-grey: #f7f8fb;
  --medium-grey: #e7ebf3;
  --dark-grey: #596981;
  --grey: #777981;
  --blue: #08a9fa;
  --silver: #eef1f6;

}

.app {
  color: #656a72!important;
}

.blue {
  background-color: #08a9fa!important;
  color: #ffffff;
}

.calendar {
  overflow: hidden;
  border-collapse: separate!important;
  border-spacing: 0!important;
  border-radius: 0.25rem!important;
  table-layout: fixed;
  /*max-width: 900px!important;*/
}


table .calendar tr:first-child th {
  border: 0;
}

table .calendar th {
  color: #ffffff;
  font-weight: normal;
  padding: 0.8rem 0!important;
  padding-left: 0.8rem!important;
}

table .calendar td {
  /*padding-left: 0.8rem!important;*/
}

.calendar td {
  border-color: #777981!important;
  padding: 0.4rem 0!important;
  height: 100px!important;
  vertical-align: bottom;
}

.calendar td:hover {
  background: #e7ebf3;
}

.calendar tr:first-child {
  /*background: #83a4d4;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #08a9fa, #83a4d4);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #08a9fa, #83a4d4); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}

.calendar tr:nth-child(2) td {
  border-top: 0!important;
}

.calendar button {
  width: 100%;
  font-size: 12px!important;
  padding: 0.2rem!important;
}

.structure tr {
  vertical-align: top;
}

.structure th, td {
  padding: 1rem 1rem!important;
  font-weight: normal;
}

.structure th {
  width: 30%;
}

.status-bar-top {
  position: relative;
  height: 70px;
  padding: 1rem 5rem;
  font-size: 18px;
  background: #f7f8fb;
  box-shadow: inset 0 -1px 0 #e7ebf3;
  /*border-bottom: 1px solid var(--grey);*/
  margin-bottom: 1.5rem;
}

.status-bar-bottom {
  position: relative;
  height: 70px;
  padding: 1rem 5rem;
  font-size: 18px;
  margin-bottom: 1rem;
  background: #08a9fa;
  /*border-bottom: 1px solid var(--grey);*/
}

.btn.logout {
  float: right;
}

.role-selector {
  width: 100%!important;
  font-size: 12px!important;
  margin-bottom: 1rem!important;
}

.card {
  /*border: solid 1px var(--grey)!important;*/
  box-shadow: 0 0 0 1px #e7ebf3;
  border: 0!important;

  /*box-shadow: 0 0 0 1px var(--grey);*/
  margin-bottom: 1rem!important;
}

.calendar-control {
  box-shadow: none!important;
  border: 0!important;
  text-align: center;
}

.calendar-control .card-block {
  padding: 0!important;
}

.calendar-control .display {
  font-size: 18px;
  font-weight: bold;
}

/*.calendar-control button {*/
  /*color: #777981!important;*/
  /*height: 50px!important;*/
  /*width: 50px!important;*/
  /*background: none!important;*/
  /*!*border-radius: 50%!important;*!*/
  /*border: 5px solid #08a9fa!important;*/
/*}*/

.calendar-control .prev {
  display: inline-block;
  float: left!important;
}

.calendar-control .next {
  display: inline-block;
  float: right!important;
}

.dialog-box {
  border: 1px solid #08a9fa!important;
  border-top: 0!important;
  border-radius: 0!important;
  position: absolute!important;
  top: 70px;
  height: 300px;
  width: 350px;
  z-index: 999;
}

.dialog-box .card-block {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*.dialog-box input {*/
  /*width: 80%!important;*/
  /*float: left!important;*/
  /*border: 0!important;*/
  /*border-top: var(--grey) solid 1px!important;*/
  /*border-radius: 0;*/
/*}*/

/*.dialog-box button {*/
  /*width: 20%!important;*/
  /*float: right!important;*/
  /*border-top-left-radius: 0!important;*/
  /*border-top-right-radius: 0!important;*/
  /*border-bottom-left-radius: 0!important;*/
/*}*/

.dialog-input {
  position: absolute;
  display: inline-block!important;
  width: 350px!important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dialog-input .form-control {
  border: 1px solid #e7ebf3;
  border-radius: 40px!important;
}

.dialog-button {
  position: fixed!important;
  bottom: 20px;
  right: 20px;
}

.profile {
  display: inline-block!important;
  float: right;
}

.profile .dropdown-menu {
  border: #777981 solid 1px!important;
}

.profile .dropdown-menu::after {
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 0;
  bottom: auto;
  content: '';
  display: block;
  height: 0;
  margin-top: 0;
  position: absolute;
  right: 16px;
  width: 0;
  top: -8px;
}

.profile .dropdown-item {
  color: #656a72!important;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile span {
  padding: 0.2rem!important;
}

.title {
  display: inline-block!important;
  float: left;
}

.force-scroll {
  min-height: 500px;
}

.message {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.message-user, .message-bot {
  display: inline-block;
}

.message-user-profile, .message-bot-profile {
  margin-left: 1rem;
  margin-right: 1rem;
}

.message-user-profile img, .message-bot-profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.work {
  padding: 1rem;
  width: 100%;
}

.work:hover {
  border-radius: 4px;
  color: #ffffff;
  background: #08a9fa;
  cursor: pointer!important;
}

.btn:hover {
  cursor: pointer!important;
}


@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {
  .dialog-input {
    top: 70px!important;
    width: 250px!important;
  }

  .status-bar-top {
    position: relative;
    height: 120px;
    padding: 1rem 5rem;
    font-size: 18px;
    background: #f7f8fb;
    box-shadow: inset 0 -1px 0 #e7ebf3;
    /*border-bottom: 1px solid var(--grey);*/
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1200px) {

}

