/* You can add global styles to this file, and also import other style files */
:root {
  --grey: #777981;
  --blue: #08a9fa;
}

.app {
  color: #656a72!important;
}

.blue {
  background-color: var(--blue)!important;
  color: #ffffff;
}

.calendar {
  overflow: hidden;
  border-collapse: separate!important;
  border-spacing: 0!important;
  border-radius: 0.25rem!important;
  table-layout: fixed;
  /*max-width: 900px!important;*/
}


table .calendar tr:first-child th {
  border: 0;
}

table .calendar th {
  color: #ffffff;
  font-weight: normal;
  padding: 0.8rem 0!important;
}

table .calendar th:first-child {
  padding-left: 0.8rem!important;
}

.calendar td {
  border-color: var(--grey)!important;
  padding: 0.4rem 0!important;
  height: 100px!important;
}

.calendar tr:nth-child(2) td {
  border-color: #ffffff!important;
}

.calendar td:first-child {
  padding-left: 0.8rem!important;
}

.calendar button {
  width: 100%;
  font-size: 12px!important;
  padding: 0.2rem!important;
}

.structure tr {
  vertical-align: top;
}

.structure th, td {
  padding: 1rem 1rem!important;
  font-weight: normal;
}

.structure th {
  width: 30%;
}

.status-bar {
  height: 80px;
  padding: 1.5rem 1rem;
  font-size: 20px;
}

.btn.logout {
  float: right;
}

.role-selector {
  width: 100%!important;
  font-size: 12px!important;
  margin-bottom: 1rem!important;
}

.card {
  border: solid 1px var(--grey)!important;
  /*box-shadow: 0 0 0 1px var(--grey);*/
  margin-bottom: 1rem!important;
}

.calendar-control {
  border: 0!important;
  text-align: center;
}

.calendar-control .card-block {
  padding: 0!important;
}

.calendar-control span.display {
  font-size: 18px;
  font-weight: bold;
}

.calendar-control .prev {
  float: left!important;
}

.calendar-control .next {
  float: right!important;
}

.dialog-box {
  position: fixed!important;
  bottom: 60px;
  right: 20px;
  height: 300px;
  width: 350px;
}

.dialog-box .card-block {
  overflow-x: hidden;
  overflow-y: scroll;
}

.dialog-box input {
  width: 80%!important;
  float: left!important;
  border: 0!important;
  border-top: var(--grey) solid 1px!important;
  border-radius: 0;
}

.dialog-box button {
  width: 20%!important;
  float: right!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.dialog-button {
  position: fixed!important;
  bottom: 20px;
  right: 20px;
}

.profile {
  display: inline-block!important;
  float: right;
}

.profile .dropdown-menu {
  border: var(--grey) solid 1px!important;
}

.profile .dropdown-menu::after {
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 0;
  bottom: auto;
  content: '';
  display: block;
  height: 0;
  margin-top: 0;
  position: absolute;
  right: 16px;
  width: 0;
  top: -8px;
}

.profile .dropdown-item {
  color: #656a72!important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile span {
  padding: 0.2rem!important;
}
